<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      crossorigin="anonymous"
    />
    <!-- Compiled and minified JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <footer class="page-footer blue-grey darken-1">
      <div class="container">
        <div class="row">
          <!-- <div class="col l6 s12"> -->
          <h5 class="white-text">Logo Footer</h5>
          <p class="grey-text text-lighten-4">
            This is the footer content for BT Inventory Management.
          </p>
          <!-- </div> -->
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="right">© 2024 Copyright Text</div>
        </div>
      </div>
    </footer>
  </body>
</html>
